<div class="sidebar">
  <div class="title">
    <h1>Ecommerce Admin</h1>
  </div>
  <ul>
    <li>
      <a routerLink="/products" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:
        true}">
        <i class="pi pi-box ms-2 me-2"></i>
        Products</a
      >
    </li>
    <li>
      <a>
        <i class="pi pi-tags ms-2 me-2"></i>
        Category</a
      >
    </li>
    <li>
      <a>
        <i class="pi pi-tags ms-2 me-2"></i>
        Sub category</a
      >
    </li>
  </ul>
</div>
