.content-block {
    margin-left: 14rem;
}
.top-bar {
    background-color: #FFFFFF;
    box-shadow: 0 .15rem 1.75rem 0 rgba(58,59,69,.15)!important;
    height: 4.375rem;
}
.route-block {
    padding: 10px;
}